<div class="bat"><h2>Thanks for visiting...</h2></div>
<div class="free">
    <img [src]="myimage9">
</div>
<div class="apple"><h1>Services we are providing!</h1></div>
<div><h3>Below is the service we are providing and this may helpful to our customers who are working in our many branches..
    </h3>
    <p></p>
</div>
<div>
    <ol class="list" type="1" start="1">
        <li>Train staff</li>
        <li>Develop goals</li>
        <li>Focus on customer satisfication</li>
        <li>Respond to customer inquiries</li>
        <li>Develop policies</li>
        <li>Develop procedures</li>
        <li>develop report progress</li>
    </ol>
</div>