<div>
  <h2 class="samana">DETAILS OF THE</h2>
  <h1 class="fathima">CUSTOMERS</h1>
  <div class="none">
<div class="see">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>
      
      <div class="card">
        <div class="container">
          <h1>Name: Bakhar hussain</h1>
          <h2><b>Full stack Java Developer</b></h2> 
          <h3>Date of birth : 02/10/1999</h3>
          <h3>Graduated</h3>
          <p>Recently Graduated from D.M.S S.V.H college of engineering.</p>
        </div>
      </div>
      <div class="cardone">
        <div class="containerone">
          <h1>Name: S.KAMALAKAR</h1>
          <h2><b>Civil engineering</b></h2> 
          <h3>Date of birth : 10/11/1999</h3>
          <h3>Graduated</h3>
          <p>Recently Graduated from D.M.S S.V.H college of engineering.</p>
        </div>
      </div>
      <div class="cardtwo">
        <div class="containertwo">
          <h1>Name: M.TEJA</h1>
          <h2><b>Civil engineering</b></h2> 
          <h3>Date of birth : 22/12/1998</h3>
          <h3>Graduated</h3>
          <p>Recently Graduated from D.M.S S.V.H college of engineering.</p>
        </div>
      </div>
      <div class="cardtwo">
        <div class="containertwo">
          <h1>Name: M.DIVYA</h1>
          <h2><b>computer science engineering</b></h2> 
          <h3>Date of birth : 22/12/1998</h3>
          <h3>Graduated</h3>
          <p>Recently Graduated from D.M.S S.V.H college of engineering.</p>
        </div>
      </div>
      </div>


